{{define "index"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Generate a dynamic QR code with a changeable URL. No login required.">
        <title>DynQR</title>

        <link href="/css/styles.css" rel="stylesheet">
    </head>
<body>


<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="text-centered title">DynQR</h1>

        <p class="subtitle text-centered">Generate a dynamic QR code with a changeable URL. No login required.</p>

        <noscript><p class="text-centered noscript">This site works best with javascript disabled. Actually, it doesn't
                use javascript at all.</p></noscript>

        <div class="create-qr-form">
            <form action="/new-qr" method="post">
                <div class="form-group">
                    <label for="target">Target URL</label>
                    <input type="url" id="target" name="target" class="form-control" required>
                    <input type="hidden" name="csrf" value="{{.Csrf}}" required>
                </div>
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer>
    <p class="text-centered footer">Made by <a href="https://bn4t.me">bn4t</a></p>
</footer>

</body>

</html>
{{end}}